<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Inventory</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">

  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="nav navbar-nav">
          <h1><a href="#">Home Inventory</a></h1>
        </div>
      </nav>

      <div class="row">
        <!-- Single button -->
        <div class="list-group col-md-3">
          <div class="append-categories">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href='#' id="rooms">Rooms</a></li>
              <li><a href="#" id="categories" button-name="categories">Categories</a></li>
            </ul>

          </div>

        </div>
        <div class="clear-template">
        </div>
      </div>
      </div> <!-- /.row-->

      <div class="row">
        <div class="col-md-9">
          <table class="table table-group">
          </table>
        </div>
          <div class='template'>
            <div class="clear-template">
              <span class="id"></span>
              <button type="button" class="list-group-item">Cras justo odio</button>
            </div>
          </div>


      </div><!-- /.row-->






    </div><!-- /.container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
